.about-property-container {
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
	align-items: flex-start;
	padding: 24px;
	gap: 24px;
	background: #ffffff;
	border: 1px solid rgba(120, 120, 128, 0.2);
	border-radius: 16px;
	width: fit-content;
	height: fit-content;
}

.about-property-text {
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: 700;
	font-size: 28px;
	line-height: 34px;
	letter-spacing: 0.36px;
	color: #000000;
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
}

.about-property-textarea {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 10px;
	gap: 8px;
	border: 1px solid #d1d1d6;
	border-radius: 12px;
	width: 300px;
	height: 120px;
	overflow: hidden;
	resize: none;
}

.text-near-input-about {
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	display: flex;
	align-items: flex-end;
	letter-spacing: 0.32px;
	color: #aeaeb2;
	position: absolute;
	left: 841px;
	top: 823px;
}

.text-near-input-about-1 {
	font-family: SF Pro Regular;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	display: flex;
	flex-grow: 100;
	align-items: flex-end;
	letter-spacing: 0.32px;
	color: #aeaeb2;
	position: absolute;
	left: 820px;
	top: 892px;
}

.text-near-input-about-2 {
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	display: flex;
	align-items: flex-end;
	letter-spacing: 0.32px;
	color: #aeaeb2;
	position: absolute;
	left: 685px;
	top: 475px;
}

.text-near-input-about-3 {
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	display: flex;
	align-items: flex-end;
	letter-spacing: 0.32px;
	color: #aeaeb2;
	position: absolute;
	left: 838px;
	top: 475px;
}

@media screen and (max-width: 968px) {
	.text-near-input-about {
		font-family: SF Pro Display;
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 20px;
		display: none;
		align-items: flex-end;
		letter-spacing: 0.32px;
		color: #aeaeb2;
		position: absolute;
		left: 841px;
		top: 823px;
	}

	.text-near-input-about-1 {
		font-family: SF Pro Regular;
		font-style: normal;
		font-weight: 700;
		font-size: 14px;
		line-height: 20px;
		display: none;
		align-items: flex-end;
		letter-spacing: 0.32px;
		color: #aeaeb2;
		position: absolute;
		left: 820px;
		top: 892px;
	}

	.text-near-input-about-2 {
		font-family: SF Pro Display;
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 20px;
		display: none;
		align-items: flex-end;
		letter-spacing: 0.32px;
		color: #aeaeb2;
		position: absolute;
		left: 685px;
		top: 475px;
	}

	.text-near-input-about-3 {
		font-family: SF Pro Display;
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 20px;
		display: none;
		align-items: flex-end;
		letter-spacing: 0.32px;
		color: #aeaeb2;
		position: absolute;
		left: 838px;
		top: 475px;
	}
}

@media screen and (max-width: 1082px) {
	.text-near-input-about {
		font-family: SF Pro Display;
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 20px;
		display: flex;
		align-items: flex-end;
		letter-spacing: 0.32px;
		color: #aeaeb2;
		position: absolute;
		left: 841px;
		top: 858px;
	}

	.text-near-input-about-1 {
		font-family: SF Pro Regular;
		font-style: normal;
		font-weight: 700;
		font-size: 14px;
		line-height: 20px;
		display: flex;
		align-items: flex-end;
		letter-spacing: 0.32px;
		color: #aeaeb2;
		position: absolute;
		left: 820px;
		top: 927px;
	}

	.text-near-input-about-2 {
		font-family: SF Pro Display;
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 20px;
		display: flex;
		align-items: flex-end;
		letter-spacing: 0.32px;
		color: #aeaeb2;
		position: absolute;
		left: 685px;
		top: 509px;
	}

	.text-near-input-about-3 {
		font-family: SF Pro Display;
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 20px;
		display: flex;
		align-items: flex-end;
		letter-spacing: 0.32px;
		color: #aeaeb2;
		position: absolute;
		left: 838px;
		top: 509px;
	}
}

@media screen and (max-width: 1513px) {
	.text-near-input-about {
		font-family: SF Pro Display;
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 20px;
		display: flex;
		align-items: flex-end;
		letter-spacing: 0.32px;
		color: #aeaeb2;
		position: absolute;
		left: 830px;
		top: 823px;
	}

	.text-near-input-about-1 {
		font-family: SF Pro Regular;
		font-style: normal;
		font-weight: 700;
		font-size: 14px;
		line-height: 20px;
		display: flex;
		align-items: flex-end;
		letter-spacing: 0.32px;
		color: #aeaeb2;
		position: absolute;
		left: 805px;
		top: 892px;
	}

	.text-near-input-about-2 {
		font-family: SF Pro Display;
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 20px;
		display: flex;
		align-items: flex-end;
		letter-spacing: 0.32px;
		color: #aeaeb2;
		position: absolute;
		left: 680px;
		top: 474px;
	}

	.text-near-input-about-3 {
		font-family: SF Pro Display;
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 20px;
		display: flex;
		align-items: flex-end;
		letter-spacing: 0.32px;
		color: #aeaeb2;
		position: absolute;
		left: 830px;
		top: 474px;
	}
}
