.footer-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 15%;
	padding: 16px 100px;
	gap: 32px;
	background: #ffffff;
	border-bottom: 1px solid rgba(120, 120, 128, 0.2);
}

.footer-button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 12px 20px;
	gap: 10px;
	background: #c7c7cc;
	border-radius: 14px;
}

.text-for-button {
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: -0.408px;
	font-feature-settings: 'case' on;
	color: #8e8e93;
}

@media screen and (max-width: 760px) {
	.footer-container {
		display: none;
	}
}
