@font-face {
	font-family: SF Pro Regular;
	src: url(../src/assets/fonts/SF/SF-Pro-Display-Regular.otf) format(opentype);
}

@font-face {
	font-family: SF Pro Display;
	src: url(../src/assets/fonts/SF/SF-Pro-Display-Bold.otf) format(opentype);
}

input {
	outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.relative {
	position: relative;
	flex: 1;
}

.global-loader {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
}
