@font-face {
	font-family: SF Pro Regular;
	src: url(../src/assets/fonts/SF/SF-Pro-Display-Regular.otf) format(opentype);
}

@font-face {
	font-family: SF Pro Display;
	src: url(../src/assets/fonts/SF/SF-Pro-Display-Bold.otf) format(opentype);
}
