@font-face {
	font-family: SF Pro Regular;
	src: url(../src/assets/fonts/SF/SF-Pro-Display-Regular.otf) format(opentype);
}

@font-face {
	font-family: SF Pro Display;
	src: url(../src/assets/fonts/SF/SF-Pro-Display-Bold.otf) format(opentype);
}

input {
	outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.relative {
	position: relative;
	flex: 1;
}

.global-loader {
	position: fixed;
	width: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 9999;
	display: flex;
	align-items: center;
	justify-content: center;

	&::after {
		content: '';
		width: 65px;
		height: 65px;
		border-radius: 50%;
		display: inline-block;
		border-top: 3px solid #007aff;
		border-right: 3px solid transparent;
		animation: rotation 1s linear infinite;
	}

	@keyframes rotation {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}

.MuiCircularProgress-colorPrimary {
	color: rgb(255, 255, 255) !important;
}

.photo-and-docs-div {
	display: flex;
	flex-direction: column;
	gap: 16px;
}
