.container-logo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2% 0;
}

.logo-dubX {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 760px) {
	.container-logo {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 5% 0;
	}

	.logo-dubX {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 174px;
		height: 88px;
	}
}
