.photos-upload-container {
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
	align-items: flex-start;
	padding: 24px;
	gap: 24px;
	background: #ffffff;
	border: 1px solid rgba(120, 120, 128, 0.2);
	border-radius: 16px;
	height: fit-content;
}

.docs-upload-container {
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
	align-items: flex-start;
	padding: 24px;
	gap: 24px;
	background: #ffffff;
	border: 1px solid rgba(120, 120, 128, 0.2);
	border-radius: 16px;
	height: fit-content;
}

.expand-less-icon {
	display: none;
}

.expand-more-icon {
	display: none;
}

.photos-global-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 24px;
}

.photos-upload-block-text {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 210px;
}

.docs-upload-block-text {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 210px;
}

.photos-upload-text {
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: 700;
	font-size: 28px;
	line-height: 34px;
	letter-spacing: 0.36px;
	color: #000000;
	align-self: stretch;
	flex-grow: 0;
}

.header-for-photos {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 24px;
	height: 18px;
	align-self: stretch;
}

.span-for-header-symbol {
	width: 18px;
	font-family: SF Pro Regular;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	display: flex;
	align-items: flex-end;
	letter-spacing: -0.078px;
	color: rgba(60, 60, 67, 0.6);
}

.span-for-header-photo {
	width: 85px;
	font-family: SF Pro Regular;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	display: flex;
	align-items: flex-end;
	letter-spacing: -0.078px;
	color: rgba(60, 60, 67, 0.6);
}

.span-for-header-delete {
	width: 100px;
	font-family: SF Pro Regular;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	display: flex;
	align-items: flex-end;
	letter-spacing: -0.078px;
	color: rgba(60, 60, 67, 0.6);
}

.span-for-header-main-image {
	font-family: SF Pro Regular;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	text-align: right;
	letter-spacing: -0.078px;
	color: rgba(60, 60, 67, 0.6);
	flex-grow: 1;
}

.button-for-uploading {
	display: none;
}

.text-for-button-uploading {
	width: 86px;
	height: 18px;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: 600;
	font-size: 13px;
	line-height: 18px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 12px 20px;
	gap: 8px;
	width: 100%;
	height: 48px;
	background: #f2f2f7;
	border: 1px dashed #007aff;
	border-radius: 12px;
	letter-spacing: 0.3px;
	color: #000000;
	cursor: pointer;
}

.delete-icon-div {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 24px;
	width: 24px;
	padding-left: 0px;
	background: none;
	cursor: pointer;
}

.list-of-uploading-files {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	gap: 36px;
	align-self: stretch;
}

.photo-box {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 32px;
	width: 100%;
}

.photo-box div {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.label-for-row {
	font-family: SF Pro Regular;
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
	display: flex;
	align-items: flex-end;
	letter-spacing: -0.078px;
	color: #000000;
	flex: none;
	flex-grow: 0;
	z-index: 0;
}

.footer-button-show {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 12px 20px;
	gap: 10px;
	background: #007aff;
	border-radius: 14px;
}

.picture-uploaded-file {
	width: 80px;
	height: 80px;
	background: #d9d9d9;
	border-radius: 8px;
	text-align: center;
	position: absolute;
	z-index: 0;
}

.document-uploaded-file {
	display: flex;
	align-items: center;
	width: 80px;
	height: 80px;
	overflow-wrap: break-word;
}

.modal-window {
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	z-index: 999;
}

.modal {
	margin-top: 20px;
	position: fixed;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #373737;
	box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
}

.modal-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.button-zoom {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	padding-right: 35px;
	padding-bottom: 10px;
	top: 5px;
	left: 18.5px;
	z-index: 1;
	cursor: pointer;
}

.trash-can {
	width: 24px;
	height: 24px;
	z-index: 1;
}

.checkbox-container-upload {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.button-upload-photos-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 8px 16px;
}

@media screen and (max-width: 760px) {
	.photos-upload-text {
		font-family: SF Pro Regular;
		font-style: normal;
		font-weight: 700;
		font-size: 20px;
		line-height: 34px;
		letter-spacing: 0.36px;
		color: #000000;
		flex: none;
		order: 0;
		align-self: stretch;
		flex-grow: 0;
	}

	.expand-less-icon {
		display: flex;
	}

	.expand-more-icon {
		display: flex;
	}

	.photos-upload-container {
		padding: 1px 16px;
	}

	.photos-upload-block-text {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		gap: 250px;
		width: 100%;
	}

	.docs-upload-container {
		padding: 1px 16px;
	}

	.docs-upload-block-text {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		gap: 250px;
		width: 100%;
	}

	#closed.photos-global-container {
		display: none;
	}

	#show.photos-global-container {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	#show.button-submit-save {
		display: flex;
		flex-direction: column;
		padding: 16px;
	}
}
