.property-card-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(384px, 1fr));
	grid-gap: 24px;
	padding: 0px;
}

.image-for-property {
	width: 384px;
	height: 208px;
	border-radius: 8px;
	object-fit: contain;
	background: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.main-container-of-cards {
	padding: 16px 100px;
}

.tag-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: absolute;
	gap: 8px;
	top: 8px;
	right: 8px;
}

.row-completed {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 4px;
	padding: 4px 8px;
	background: #ffffff;
	border-radius: 12px;
}

.row-sold {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 6px;
	padding: 4px 8px;
	background: #ffffff;
	border-radius: 12px;
}

.tag {
	width: 8px;
	height: 8px;
}

.completed-text-row {
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: 600;
	font-size: 13px;
	line-height: 13px;
	letter-spacing: 0.06px;
	font-feature-settings: 'case' on;
	color: #000000;
}

.sold-text-row {
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: 600;
	font-size: 13px;
	line-height: 13px;
	letter-spacing: 0.06px;
	font-feature-settings: 'case' on;
	color: #000000;
}

.container-property-card-list {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 16px 10px;
	gap: 8px;
	width: 384px;
	background: #ffffff;
	border: 1px solid rgba(120, 120, 128, 0.2);
	border-radius: 8px;
	flex: none;
	order: 1;
	flex-grow: 0;
	z-index: 1;
}

.list-for-property {
	padding: 0;
	margin: auto;
}

.list-property-1 {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 3.5px;
	gap: 16px;
	width: 352px;
	height: 18px;
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
}

.metric-name {
	width: 115px;
	height: 18px;
	font-family: SF Pro Regular;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: -0.078px;
	color: #000000;
	flex: none;
	order: 0;
	flex-grow: 1;
}

.value-of-property {
	width: 221px;
	height: 18px;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 18px;
	text-align: right;
	letter-spacing: -0.078px;
	color: #000000;
	flex: none;
	order: 1;
	flex-grow: 0;
}

.btn-for-property {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 7px 16px;
	gap: 8px;
	position: relative;
	width: 368px;
	height: 32px;
	left: 8px;
	top: -254px;
	background: #007aff;
	border-radius: 8px;
	flex: none;
	order: 2;
	flex-grow: 0;
	z-index: 2;
}

.label-for-property {
	width: 153px;
	height: 18px;
	font-family: SF Pro Regular;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 18px;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.3px;
	color: #ffffff;
	flex: none;
	order: 1;
	flex-grow: 0;
	cursor: pointer;
}

// .tag-row {
// 	display: flex;
// 	flex-direction: row;
// 	align-items: flex-start;
// 	padding: 0px;
// 	gap: 8px;
// 	position: relative;
// 	width: 149px;
// 	height: 21px;
// 	right: -204px;
// 	top: -447px;
// 	flex: none;
// 	order: 3;
// 	flex-grow: 0;
// 	z-index: 3;
// }

// .row-completed {
// 	display: flex;
// 	flex-direction: row;
// 	align-items: center;
// 	padding: 4px;
// 	gap: 6px;
// 	width: 88px;
// 	height: 16px;
// 	background: #ffffff;
// 	border-radius: 18px;
// 	flex: none;
// 	order: 0;
// 	flex-grow: 0;
// }

// .row-completed img {
// 	width: 12px;
// 	height: 9px;
// 	flex: none;
// 	order: 0;
// 	flex-grow: 0;
// }

// .completed-text-row {
// 	width: 60px;
// 	height: 13px;
// 	font-family: SF Pro Regular;
// 	font-style: normal;
// 	font-weight: 700;
// 	font-size: 14px;
// 	line-height: 13px;
// 	letter-spacing: 0.06px;
// 	font-feature-settings: 'case' on;
// 	color: #000000;
// 	flex: none;
// 	order: 1;
// 	flex-grow: 0;
// }

// .row-sold {
// 	display: flex;
// 	flex-direction: row;
// 	align-items: center;
// 	padding: 4px 8px;
// 	gap: 4px;
// 	width: 53px;
// 	height: 16px;
// 	background: #ffffff;
// 	border-radius: 18px;
// 	flex: none;
// 	order: 1;
// 	flex-grow: 0;
// }

// .row-sold img {
// 	width: 12px;
// 	height: 9px;
// 	flex: none;
// 	order: 0;
// 	flex-grow: 0;
// }

// .sold-text-row {
// 	width: 30px;
// 	height: 13px;
// 	font-family: SF Pro Regular;
// 	font-style: normal;
// 	font-weight: 700;
// 	font-size: 14px;
// 	line-height: 13px;
// 	letter-spacing: 0.06px;
// 	font-feature-settings: 'case' on;
// 	color: #000000;
// 	flex: none;
// 	order: 1;
// 	flex-grow: 0;
// }
@media screen and (max-width: 768px) {
	.main-container-of-cards {
		padding: 16px;
	}
}
